In [1]:
import numpy as np
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup as bs

In [7]:
import requests as req
from splinter import Browser

In [3]:
nasa_url = "https://mars.nasa.gov/news/"                                    

response = req.get(nasa_url)                                               

nasa_soup = bs(response.text, 'html.parser')                                 

news_title = nasa_soup.find("div", class_="content_title").text              
paragraph_text = nasa_soup.find("div", class_="rollover_description_inner").text

In [4]:
news_title

'\n\nOpportunity Hunkers Down During Dust Storm\n\n'

In [5]:
paragraph_text

"\nIt's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home. \n"

In [8]:
browser = Browser('chrome', headless=False)                                 
jpl_fullsize_url = 'https://photojournal.jpl.nasa.gov/jpeg/'                 
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [9]:
browser.visit(jpl_url)                                                       
jpl_html = browser.html                                                    
jpl_soup = bs(jpl_html, 'html.parser')

In [10]:
featured_image_list = []                                                     

for image in jpl_soup.find_all('div',class_="img"):                         
    featured_image_list.append(image.find('img').get('src'))

In [11]:
feature_image = featured_image_list[0]                                      
temp_list_1 = feature_image.split('-')                                      
temp_list_2 = temp_list_1[0].split('/')                                     
featured_image_url = jpl_fullsize_url + temp_list_2[-1] + '.jpg'

In [12]:
featured_image_url

'https://photojournal.jpl.nasa.gov/jpeg/PIA22624.jpg'

In [13]:
browser.quit()

In [15]:
browser = Browser('chrome', headless=False)                                 
tweet_url = 'https://twitter.com/marswxreport?lang=en'                       
browser.visit(tweet_url)

In [16]:
tweet_html = browser.html                                                 
tweet_soup = bs(tweet_html, 'html.parser')

In [17]:
tweet = tweet_soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

In [20]:
mars_weather  = tweet.text.strip()

In [21]:
mars_weather

'Sol 2142 (2018-08-15), high -10C/14F, low -71C/-95F, pressure at 8.65 hPa, daylight 05:28-17:41'

In [22]:
browser.quit()

In [23]:
facts_url = 'https://space-facts.com/mars/'

In [24]:
fact_list = pd.read_html(facts_url)

In [25]:
facts_df = fact_list[0]

In [26]:
facts_df.columns = ['', 'Mars Facts']                                     
facts_df.set_index('', inplace=True)

In [27]:
facts_df

                                         Mars Facts

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [28]:
facts_table = facts_df.to_html()                                             
print(facts_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars Facts</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [29]:
browser = Browser('chrome', headless=False)                                                            

usgs_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(usgs_url)

In [30]:
usgs_html = browser.html
usgs_soup = bs(usgs_html, 'html.parser')

In [31]:
hemisphere_image_urls = []                                                  

products = usgs_soup.find('div', class_='result-list')                       
hemispheres = products.find_all('div', class_='item')                       

for hemisphere in hemispheres:                                              
    title = hemisphere.find('div', class_='description')
    
    title_text = title.a.text                                                
    title_text = title_text.replace(' Enhanced', '')
    browser.click_link_by_partial_text(title_text)                          
    
    usgs_html = browser.html                                                 
    usgs_soup = bs(usgs_html, 'html.parser')                                 
    
    image = usgs_soup.find('div', class_='downloads').find('ul').find('li') 
    img_url = image.a['href']
    
    hemisphere_image_urls.append({'title': title_text, 'img_url': img_url})  
    
    browser.click_link_by_partial_text('Back')

In [32]:
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere'}]

In [33]:
browser.quit()